/* =======================
    HTML
======================== */

body {
    min-height: 100vh;
    min-width: 100vw;
}

/* =======================
    Bootstrap
======================== */

.input-group-text {
    min-width: 9rem;
}

.row {
    flex-wrap: nowrap
}

/* =======================
    Game
======================== */

.game {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    padding: 1rem;
}

.game-info {
    min-width: 280px;
    max-width: 280px;
}

.game-board {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
    max-width: 100%;
}

#board {
    overflow: auto;
    padding: 1rem;
}

.cell {
    height: 50px;
    width: 50px;
    max-width: 50px;
    margin: 0 6px 6px 0;
    cursor: pointer;
    border: solid #ccc 1px;
    border-radius: 12px;
    background: #ddd;
    box-shadow: 1px 1px #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}